.container {
  margin: 0 auto;
  width: 70%;
  background-color: lightgrey;
  min-height: calc(100vh - 100px);
  padding-top: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 30px 10px;
  border-bottom: solid 1px grey;
}

.name {
  font-size: 28px;
  position: relative;
  top: 3px;
}

.online {
  padding: 15px 30px;
  border-bottom: solid 1px gray;
}